<a href="./index.html">
<div class="logo">
            <img src="./images/groove-logo.png" alt="groove logo" width="30">
            <img src="./images/groove.png" alt="groove" width="120">
        </div>
    </a>


     <button class="hamburger" id="hamburger">
        <img src="./images/icons/menu.png" alt="menu-logo" id="hamburger-icon">
     </button>


    <nav>
        <ul>
            <li><a href="search.html">Search</a></li>
            <li><a href="favourites.html">Favourites</a></li>
            <li><a href="streamed.html">Trends</a></li>
            <li><a href="info.html">Info</a></li>
        </ul>
    </nav>
    <script src="./scripts/hamburger.js"> </script>
    