<a href="./index.html">
<div class="logo">
            <img src="./images/groove-logo.png" alt="groove logo" width="30">
            <img src="./images/groove.png" alt="groove" width="120">
        </div>
    </a>
        <nav>
            <ul>
                <li><a href="search.html">Search</a></li>
                <li><a href="history.html">Favourites</a></li>
                <li><a href="favourites.html">History</a></li>
                <li><a href="info.html">Info</a></li>
            </ul>
        </nav>