:root {
    --primary-color: #3B00DC;
    --secondary-color: #14B1D1;
    --black-color: #0D0A0B;
    --light-color: #E1EEF2;
    --alternative-color: #B418C8;
    --alternate-black-color: #353535;
    --outfit-family: 'Outfit', sans-serif;
    --days-one-family: 'Days One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px;
    background-color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



nav {
    background-color: var(--black-color);
    width: 60%;
}

nav ul {
    font-family: var(--days-one-family);
    display: flex;
    list-style: none;
    font-size: 22px;
    padding: 12px;
    justify-content: space-around;
}

nav ul li {
    color: var(--light-color);
    transition: all ease-in-out 0.3s;
}

nav ul li:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

main {
    min-height: 100vh;
    background-color: var(--alternate-black-color);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-app {  
    width: 50%;
    background-color: var(--light-color);
    border-radius: 10px;
    form{
        display: flex;
    }
    input {
        padding: 10px;
        width: 80%;
        background-color: transparent;
        border: none;
        outline: none;
    }
    button {
        background-color: transparent;
        width: 20%;
        border: none;
        outline: none;
    }
}