:root {
    --primary-color: #3B00DC;
    --secondary-color: #14B1D1;
    --black-color: #0D0A0B;
    --light-color: #E1EEF2;
    --alternative-color: #B418C8;
    --alternate-black-color: #353535;
    --outfit-family: 'Outfit', sans-serif;
    --days-one-family: 'Days One', sans-serif;
    --background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 4px;
    background-color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    .logo {
        padding-left: 15px;
        display: flex;
        align-items: center;
        gap: 2px;
        img {
            display: block;
        }
    }
}

footer {    
    background-color: var(--black-color);
    color: var(--light-color);
    text-align: center;
    padding: 10px;
    font-family: var(--outfit-family);
}

.footer {
  padding: 20px 10px;
  font-size: 14px;
  border-top: 1px solid #333;
}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
}

.deezer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}

.deezer-logo img {
    width: auto;
    height: 50px;
}


nav {
    background-color: var(--black-color);
    width: 40%;
    font-size: 10px;
}

nav ul {
    font-family: var(--days-one-family);
    display: flex;
    list-style: none;
    font-size: 20px;
    padding: 12px;
    justify-content: space-around;
}

nav ul li a {
    color: var(--light-color);
    transition: all ease-in-out 0.3s;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

main {
    display: flex;
}

.main-box {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--alternate-black-color);
    back
}

.results {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-app {  
    width: 50%;
    background-color: transparent;
    border: 1px solid var(--light-color);
    border-radius: 10px;
    justify-self: flex-end;
    form{
        display: flex;
    }
    input {
        padding: 10px;
        color: var(--light-color);
        width: 80%;
        background-color: transparent;
        border: none;
        outline: none;
    }
    input::placeholder {
        color: var(--light-color);
    }
    button {
        background-color: transparent;
        color: var(--light-color);
        width: 20%;
        border: none;
        outline: none;
    }
}

.song {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--black-color);
    margin: 10px;
    padding: 5px;
    color: var(--light-color);
    font-family: var(--outfit-family);
    border-radius: 10px;
    width: 100%;
    .result-cover {
        width: 50px;
        height: 50px;
    }
    .song-info {
        padding-left: 8px;
        display: flex;
        width: 100%;
        .song-name {
            display: flex;
            align-items: center;
            h4 {margin-right: 10px; }
        }
        justify-content: space-between;
        h4 {
            grid-column: 1/3;
            margin-bottom: 10px;
        }
        a {
            grid-column: 1/3;
            margin-bottom: 10px;
            color: var(--secondary-color);
        }
    }
    .song-buttons {
        display: flex;
        justify-content: space-around;
        button {
            margin: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            width: 40px;
            border-radius: 15px;
            border: none;
            background-color: var(--black-color);
            outline: none;
            transition: all ease-in-out 0.3s;
        }
        
        button:hover {
            background-color: var(--alternate-black-color);
            cursor: pointer;
        }
    }
    
    img {
        border-radius: 5px;
        margin-right: 15px;
    }
}

.lyrics {
    background-color: var(--black-color);
    margin: 20px;
    color: var(--light-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    pre {
        font-family: var(--outfit-family);
        margin: 10px;
    }
    .lyrics-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 21px;
    }
    font-family: var(--days-one-family);

    }

.artist-container {
    display: flex;
    background-image: var(--background);
    flex-direction: row;
}


.main-album {
    background-image: var(--background);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .album-container {
        background-color: var(--black-color);
        font-family: var(--outfit-family);
        color: var(--light-color);
        margin: 10px;
        padding: 2rem;
        border-radius: 15px;
    }
}

.main-search {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url("../images/hero/search-back.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.home-container {
    width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.home-box {
    font-family: var(--outfit-family);
    position: relative;
    height: 200px;
    background-size: cover;
    border-radius: 20px;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    h5 {
        background-color: var(--black-color);
        width: 100%;
        filter: opacity(80%);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}


.home-box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  transition: background 0.3s ease;
}

.home-box:hover::after {
  background: rgba(0, 0, 0, 0.2);
}

.home-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255,255,255,0.2);
}

.home-box span, .home-box p {
  position: relative;
  z-index: 2;
}

.hero {
    flex-direction: column;
    font-family: var(--days-one-family);
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/hero/home-hero.webp");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    button {
        background-color: var(--primary-color);
        border: none;
        outline: none;
        margin: 15px;
        padding: 10px;
        font-size: 18px;
        color: var(--light-color);
        font-family: var(--outfit-family);
        transition: all ease-in-out 0.3s;
        border-radius: 15px;
    }
    button:hover {
        background-color: var(--light-color);
        color: var(--black-color);
        cursor: pointer;
    }
}

